{%extends 'master/base.html'%}


{% block content %}
<h1>Teacher Page</h1>

<table class="table">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Emaial</th>
    </tr>
  </thead>
  <tbody>
   
   {% for teacher  in teacher_data %}
    
    <tr>
      <td>{{teacher.name}}</td>
      <td>{{teacher.department}}</td>
      <td>{{teacher.email}}</td>
      
      <td>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>

      </td>
      
    </tr>

    {% endfor %}

  </tbody>
</table>
{% endblock content %}
  

